.App {
  text-align: center;
  background-color: rgb(168, 90, 197);
}
.detail {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  margin-right: 10px;
  
}

